/* 
   #images
   ========================================================================== */

/**
 * The images module provides additional styles for images.
 */

img {
	font-style: italic;
    vertical-align: middle;
}

/* 
   #image-fluid
   ========================================================================== */

/**
 * The image-fluid helper makes responsive images.
 *
 * Usage:
 *
 * <img class="u-image-fluid">
 */
 
.u-image-fluid {
	width: 100%;
	height: auto;
}
